In [40]:
import os
import pandas as pd
import numpy as np
import re

In [41]:
dir = '../data/CityLearn2021-data/'

In [55]:
with open(os.path.join(dir, 'building_attributes.json'),'r') as f:
    solar = re.findall('(?<="Solar_Power_Installed\(kW\)":)\d+',f.read())
    solar = [int(s) for s in solar]

In [69]:
for filename in os.listdir(dir):
    if not filename.startswith('Building_'):
        continue
    filepath = os.path.join(dir, filename)
    if filename=='Building_1.csv':
        df = pd.read_csv(filepath)
        df['DayType'] = df['Day Type'].astype('int64').astype('category')
        df['DaylightSavings'] = df['Daylight Savings Status'].astype('int64').astype('category')
        df['NSLoad'] = df.iloc[:,7]+df.iloc[:,8]+df.iloc[:,9]
        df.drop(df.columns[2:10], axis=1, inplace=True)
    else:
        temp = pd.read_csv(filepath)
        df['NSLoad'] += temp.iloc[:,7]+temp.iloc[:,8]+temp.iloc[:,9]

In [77]:
print(df.dtypes)

Month                 int64
Hour                  int64
DayType            category
DaylightSavings    category
NSLoad              float64
dtype: object

In [78]:
df.describe()

              Month          Hour        NSLoad
count  35040.000000  35040.000000  35040.000000
mean       6.526027     12.500000    402.229136
std        3.447901      6.922285    289.517056
min        1.000000      1.000000     47.500000
25%        4.000000      6.750000    173.960000
50%        7.000000     12.500000    296.020000
75%       10.000000     18.250000    602.722500
max       12.000000     24.000000   1273.660000